/**
 * Exactly what it says on the tin
 * 
 * Author:  Anshul Kharbanda
 * Created: 10 - 26 - 2020
 */
// Positioning and sizing of app
#app {
    // Fill entire screen
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    // Center container
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.container {
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#text, #controls {
    flex: 0;
    margin: 16pt 0pt;
}

// Der fonten
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

// Ending
.ending-text {
    text-align: right;
    font-weight: bold;
    &:before {
        content: 'Ending: ';
        font-weight: normal;
    }
}

// Option buttons
.option {
    // Positioning
    display: block;
    margin: 8pt 0pt;
    margin-left: auto;

    // Size and shape
    padding: 4pt 8pt;
    border-top-left-radius: 8pt;
    border-bottom-left-radius: 8pt;

    // Border
    border: 1px solid;
    border-color: transparent;
    transition: border-color 0.25s ease-in-out;
}

// Option coloring
$option-colors: (
    aqua, 
    lime, 
    #ffdd00, 
    lightsalmon,
    violet,
);
@for $i from 1 through length($option-colors) {
    $color: nth($option-colors, $i);
    .option:nth-of-type(#{$i}) {
        background-color: $color;
    }
    .option:nth-of-type(#{$i}):hover {
        border-color: darken($color, 10%);
    }
}

// Default option coloring
$default-color: #eee;
.option {
    background-color: $default-color;
}
.option:hover {
    border-color: darken($default-color, 10);
}