/**
 * Exactly what it says on the tin
 * 
 * Author:  Anshul Kharbanda
 * Created: 10 - 26 - 2020
 */

// Der fonten
* { font-family: Verdana, Geneva, Tahoma, sans-serif; }

// Positioning and sizing of app
#cyoa-app {
    // Fill entire screen
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 100%;

    // Center content
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    // Spacing
    padding: 16pt;
    @media screen and (min-width: 1200px) {
        padding-left: 16%;
        padding-right: 16%;
    }
    @media screen and (min-width: 1600px) {
        padding-left: 32%;
        padding-right: 32%;
    }
    @media screen and (min-height: 1080px) {
        padding-top: 4%;
        padding-bottom: 4%;
    }
}
// Container for containing elements
.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.spacer {
    flex: 0 0 auto;
    height: 16pt;
}

// Text and controls
#cyoa-text {
    flex: 1;
    overflow-y: auto;
}
#cyoa-controls {
    flex: 0;
}

// Imports
@import "parts";
@import "controls";