/**
 * Exactly what it says on the tin
 * 
 * Author:  Anshul Kharbanda
 * Created: 10 - 26 - 2020
 */
 
// Der fonten
* { 
    font-family: Consolas, monospace; 
    font-size: 12pt;
}

// Part diagram
#paths-diagram {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}